#cize-live {
	position: relative;
	overflow: hidden;
	background: #000000 url('http://img1.beachbodyimages.com/beachbody/image/upload/bbweb/cize/test/tmm221/cize-live-bkg-375.jpg') no-repeat center top;
	@include w480 {
		background: #000000 url('http://img1.beachbodyimages.com/beachbody/image/upload/bbweb/cize/test/tmm221/cize-live-bkg-667.jpg') no-repeat;
		background-size: cover;
	}
	@include w960 {
		background: #000000 url('http://img1.beachbodyimages.com/beachbody/image/upload/bbweb/cize/test/tmm221/cize-live-bkg-1024-v2.jpg') no-repeat;
		background-size: cover;
		margin-bottom: -2px!important;
		background-position: right top;
	}
	.container {
		max-width: 370px;
		@include w480 {
			max-width: 667px;
		}
		@include w960 {
			max-width: 1084px;
		}
		.info-wrap {
			padding: 13px 0 8% 10px;
			width: 69%;
			float: right;
		    @include w480 {
		    	padding: 50px 0 10% 20px;
		    }
		    @include w640 {
		    	padding: 90px 0 19% 35px; 
		    	width: 62.5%;
		    }
		    @include w960 {
		    	padding: 151px 20% 9% 24px;
		    	width: 54.5%;
		    }
		    @include w1200 {
		    	padding: 151px 10% 9% 24px;
		    }
		    @include w1400 {
		    	padding: 151px 0 9% 24px;
		    }
			h2 {
				font-size: 23px;
				text-transform: uppercase;
				font-family: 'Roboto', sans-serif;
				letter-spacing: 1px;

				@include w667 {
					font-size: 40px;
					line-height: 37px;
					letter-spacing: 0;
				}
				
				@include w960 {
					font-size: 50px;
					line-height: 48px;
				}
			}
			p {
				color: #fff;
				font-size: 15px;
				line-height: 18px;
				font-family: Roboto, sans-serif;
				padding-top: 4px;
				margin-right: 11px;
				@include w667 {
					line-height: 18px;
					padding-top: 2px;
					margin-right: 24px;
				}
				
				@include w960 {
					font-size: 22px;
					line-height: 28px;
					padding-bottom: 5px;
					padding-top: 15px;
					margin-right: 0px;
				}
				a {
					color: $yellow;
					font-weight: 400;
				}
			}
		}
	}
}
