section#what-you-get {
  padding-top: 0;
  @include w568 {
    padding: 20px 0;
  }
  .scrolldown {
    display: block;
    margin: 6px auto;
    padding: 0;
    width: 100%;
    @include w568 {
      display: none;
    }
  }
}
#dances {
  text-align: center;

  @include w480 {
    text-align: left;
  }

  h2 {
    margin: 0 auto 15px;
    font-size: 1.2em;
    text-transform: uppercase;

    @include w360 {
      font-size: 1.35em;
    }

    @include w375 {
      font-size: 1.4em;
    }

    @include w480 {
      font-size: 1.9em;
      text-align: center;
    }

    @include w568 {
      font-size: 2.3em;
    }

    @include w667 {
      font-size: 2.4em;
    }

    @include w768 {
      font-size: 2.8em;
    }

    @include w960 {
      font-size: 3.7em;
    }

    @include w1100 {
      font-size: 3.8em;
    }

    sup {
      position: relative;
      right: 2px;
      font-style: italic;
      vertical-align: top;
    }

  }

  .container {
    padding: 0 10px;

    @include w640 {
      padding: 0 45px;
    }

    @include w960 {
      padding: 0 35px;
    }

    @include w1100 {
      padding: 0 90px;
    }

  }

  h3 {
    margin: 0 auto 5px;
    font-weight: 700;
    font-style: italic;
    color: $red;
    text-transform: uppercase;
    border-bottom: 1px solid $red;

    @include w480 {
      font-size: 1.05em;
    }

    @include w667 {
      font-size: 1.1em;
    }

    @include w768 {
      font-size: 1.3em;
    }

    @include w960 {
      font-size: 2.45em;
    }

    span {
      text-transform: none;
    }

  }

  p {
    margin: 0 0 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85em;
    line-height: 1.2;

    @include w960 {
      font-size: 1.1em;
      line-height: 1.3;
    }

    @include w1100 {
      font-size: 1.13em;
    }

  }

  .disc {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto 20px;
    overflow: hidden;

    @include w1100 {
      overflow: visible;
    }

    img {
      display: inline-block;
      width: 50%;
      margin-left: -5%;
      vertical-align: top;

      @include w480 {
        margin-left: -1%;
      }

      @include w640 {
        margin-right: 9px;
      }

      @include w768 {
        width: 65%;
        margin-left: -15%;
      }

      @include w960 {
        margin: 0 2% 0 -18%;
      }

    }

    .disc-info {
      display: inline-block;
      width: 48%;
      text-align: left;

      @include w640 {
        width: 42%;
      }

      @include w960 {
        width: 47%;
      }

      @include w1100 {
        width: 450px;
      }

      h4 {
        margin: 0 0 2px;
        font-size: 0.9em;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        border-bottom: 1px solid;

        @include w568 {
          font-size: 1.1em;
        }

        @include w960 {
          font-size: 2.45em;
        }

        span {
          text-transform: none;
        }

      }

      p {
        margin: 0 0 1.5em;

        &:last-child {
          margin-bottom: 0;
        }

      }

    }

    &.yellow {

      @include w768 {
        z-index: 3;
      }

      @include w1100 {
        height: 803px;
      }

      img {
        max-width: 176px;

        @include w480 {
          max-width: 330px;
        }

        @include w768 {
          max-width: 794px;
        }

        @include w1100 {
          width: auto;
          height: 803px;
          margin-left: -34%;
        }

      }

      .disc-info {

        @include w480 {
          margin-top: 5%;
        }

        @include w568 {
          margin-top: 7%;
        }

        @include w768 {
          margin-top: 14%;
        }

        h4 {
          color: $yellow;
          border-color: $yellow;
        }

      }

    }

    &.blue {
      z-index: 2;

      @include w480 {
        height: 347px;
        margin: -16% auto 0;
      }

      @include w568 {
        height: 418px;
        margin-top: -18%;
      }

      @include w768 {
        height: 589px;
        margin-top: -33%;
      }

      @include w960 {
        height: 737px;
      }

      @include w1100 {
        height: 904px;
        margin-top: -390px;
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        width: 58%;
        max-width: 202px;
        margin: -17px -2% 0 0;

        @include w360 {
          margin-top: -17px;
        }

        @include w480 {
          width: auto;
          max-width: 379px;
          height: 347px;
          margin-top: 0;
        }

        @include w568 {
          height: 418px;
        }

        @include w640 {
          margin-right: -1%
        }

        @include w768 {
          max-width: 683px;
          height: 589px;
        }

        @include w960 {
          height: 737px;
        }

        @include w1100 {
          height: 904px;
          margin: 0 -11% 0 0;
        }

      }

      .disc-info {
        display: block;
        position: relative;
        margin: 10px 0 0 10px;
        z-index: 2;

        @include w360 {
          width: 44%;
        }

        @include w375 {
          width: 42%;
        }

        @include w480 {
          width: 48%;
          margin: 16% 0 0 2%;
        }

        @include w568 {
          margin-top: 18%;
        }

        @include w640 {
          width: 42%;
          margin-left: 6%;
        }

        @include w768 {
          margin-top: 33%;
        }

        @include w1100 {
          top: 390px;
          width: 450px;
          margin: 0 0 0 20px;
        }

        h4 {
          color: $blue;
          border-color: $blue;
        }

      }

    }

    &.red {

      @include w480 {
        margin-top: -6%;
      }

      @include w568 {
        margin-top: -10%;
      }

      @include w768 {
        margin-top: -16%;
      }

      @include w960 {
        margin-top: -12%;
      }

      @include w1100 {
        margin-top: -200px;
        height: 846px;
      }

      img {
        max-width: 173px;

        @include w480 {
          max-width: 326px;
        }

        @include w768 {
          max-width: 768px;
        }

        @include w1100 {
          width: auto;
          height: 846px;
          margin-right: 3.5%;
          margin-left: -33%;
        }

      }

      .disc-info {

        @include w480 {
          margin-top: 14%;
        }

        @include w768 {
          margin-top: 23%;
        }

        @include w960 {
          margin-top: 23%;
        }

        @include w1100 {
          margin-top: 25%;
        }

        h4 {
          color: $red;
          border-color: $red;
        }

      }

    }

  }

}






